body {
  font-family: sans-serif;
  margin: 1rem;
}

.cell {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.tile-cell {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-family: Sans;
  font-size: .75rem;
  line-height: 1;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.checkbox {
  display: inline-block;
  width: 16em;
}

.section {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  margin: 1em 0;
}

.fakebutton {
  background-color: #48e;
  color: #fff;
  border: 1px solid #228;
  border-radius: 16px;
  padding: 12px;
  cursor: pointer;
}

.select {
  cursor: pointer;
}

.hidden {
  display: none;
}

.highlight-tile {
  display: none;
  border: 1px solid #fff;
}

#hover {
  display: none;
  background-color: #ffe;
  border: 1px solid #000;
  padding: 2px;
}
